@import url("https://use.typekit.net/zlx2vew.css");

* {
    box-sizing: border-box;
}

body {
    text-transform: uppercase;
    background-color: #4e4e4e;
    font-family: ohno-blazeface, sans-serif;
    font-weight: 100;
    font-style: normal;
    margin: 0;
    display: block;
}

h1,
h2,
h3 {
    font-weight: 100;
    font-style: normal;
    font-variant: normal;
}


img {
    max-width: 100%;
}

th, td {
    padding: 15px;
    text-align: left;
  }

a:link,
a:visited {
    color: #713E5A;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover,
a:active {
    color: #FDE9E9;
}

.win-container,
.credits-container,
.game-container {
    background-color: #F49390;
    display: grid;
    grid-template-columns: 1fr 0.66fr 1fr;
    grid-template-rows: 1fr;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.win-container-left,
.credits-container-left,
.container-computer {
    grid-area: 1 / 1 / 1 / 1;
}

.win-container-center,
.credits-container-center,
.container-center {
    grid-area: 1 / 2 / 1 / 2;

}

.win-container-center{
    z-index: 4;
}

.win-container-right,
.credits-container-right,
.container-player {
    grid-area: 1 / 3 / 1 / 3;
}

.container-game-state-modal {
    grid-area: 1 / 2 / 1 / 2;
    background-color: #713E5A;
    align-self: center;
    justify-self: center;
    padding: 0 2% 0 2%;
    height: 100%;
    min-width: 7vw;
    display: grid;
    z-index: 5;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.win-container-center,
.credits-container-center,
.container-center {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.25fr 0.5fr 0.5fr 0.25fr 0.25fr 0.25fr 0.5fr 0.5fr 0.25fr;
    align-items: center;
    justify-items: center;
}

.win-container-right,
.win-container-left,
.credits-container-right,
.credits-container-left,
.container-computer,
.container-player {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    overflow: hidden;
}

.credits-container-right{
    grid-template-rows: 1fr 1fr;
}

.grid-item {
    text-align: center;
}

#confetti {
    width: 50vw;
    height: 100%;
}

.confetti-computer {
    /* background-color: lawngreen; */
    grid-area: 1 / 1 / 1 / 3;
}

.confetti-player {
    /* background-color: aqua; */
    grid-area: 1 / 4 / 1 / 6;
}

.win-container-background-right,
.win-container-background-left,
.credits-container-background-right,
.credits-container-background-left,
.container-background-art-computer,
.container-background-art-player {
    grid-area: 1 / 1 / 4 / 1;
    /* height: 100%; */
}

.win-container-background-left>svg,
.win-container-background-right>svg,
.credits-container-background-left>svg,
.credits-container-background-right>svg,
.container-background-art-computer>svg,
.container-background-art-player>svg {
    height: 100vh;
    max-width: 100%;
}

.container-headline-computer,
.container-headline-player {
    font-weight: 100;
    font-size: 1.5vmax;
    color: #F49390;
    grid-area: 1 / 1 / 1 / 1;
    align-self: self-start;
    padding-top: 2%;
    filter: drop-shadow(5px 5px 5px rgb(0 0 0 / 0.2));
}

.animation-overlay {
    grid-area: 1 / 1 / 1 / 1;
    display: grid;
    align-items: center;
    overflow: hidden;
    z-index: 4;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}


.game-art-container {
    grid-area: 1 / 1 / 1 / 4;
    display: grid;
    align-items: center;
    overflow: hidden;
}

.container-game-art-computer {
    grid-area: 1 / 1 / 1 / 3;
    z-index: 2;
    animation: slideLeftAnim 1s ease 0s 1 normal forwards;
    transform: translateX(-18%);
}

.container-game-art-player {
    grid-area: 1 / 4 / 1 / 6;
    z-index: 2;
    animation: slideRightAnim 1s ease 0s 1 normal forwards;
    transform: translateX(18%);
}

.container-game-art-computer img,
.container-game-art-player img {
    max-width: 45vw
}

.container-game-art-computer-animation {
    -webkit-animation: myVibrateAnimation 0.3s linear infinite both;
    animation: myVibrateAnimation 0.3s linear infinite both;
    transform: translateX(18%);
}

.credits-container-contact,
.container-score-counter-computer,
.container-score-counter-player {
    grid-area: 3 / 1 / 3 / 1;
    display: grid;
    justify-content: center;
    align-items: center;
}

.container-score-counter-computer>img,
.container-score-counter-player>img {
    max-width: 12vw;
    grid-area: 1 / 1 / 1 / 1;
    filter: drop-shadow(5px 5px 5px rgb(0 0 0 / 0.2));
}

.container-score-counter-computer>div,
.container-score-counter-player>div {
    color: #F49390;
    font-size: 3.5vmax;
    grid-area: 1 / 1 / 1 / 1;
    z-index: 1;
}

.container-change-player-gesture-wrapper {
    grid-area: 2 / 1 / 2 / 1;
    z-index: 3;
    justify-self: end;
    height: 100%;
    margin-right: 20px;
    transform: translateX(100px);
    transition-property: transform;
    transition-duration: 2s;
    transition-timing-function: ease-in;
    transition-delay: 2s;
}

.container-change-player-gesture {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #713E5A;
    height: 100%;
    width: 3vw;
    border-radius: 100px;
    border: none;
    padding: 15%;
    filter: drop-shadow(5px 5px 5px rgb(0 0 0 / 0.2));
}

.container-change-player-gesture img {
    width: 2vw;
    height: auto;
}

.container-change-player-gesture>button {
    background-color: #713E5A;
    color: #FDE9E9;
    text-align: center;
    text-decoration: none;
    border: none;
}

.win-container-gamestate,
.win-container-back,
.credits-container-back,
.container-computer-vs-player {
    grid-area: 1 / 1 / 2 / 1;
    text-align: center;
    color: #713E5A;
    font-weight: 100;
    font-size: 2vmax;
    height: 100%;
    align-self: flex-start;
    animation: myShakeAnim 2s ease 6s 1 normal forwards;
}

.container-round-counter {
    grid-area: 1 / 1 / 2 / 1;
    text-align: center;
    display: flex;
    justify-content: center;
    transform: translateY(-180px);
    transition-property: transform;
    transition-duration: 2s;
    transition-timing-function: ease-in;
    transition-delay: 2s;
}

.container-round-counter>div {
    background-color: #713E5A;
    width: 7vw;
    height: 7vw;
    border-radius: 100%;
    color: #FDE9E9;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container-round-counter>div>* {
    margin: 0;
    font-weight: 100;
    line-height: 0.75;

}

.container-round-counter>div>h2 {
    font-size: 1vmax;
}

.container-round-counter>div>p {
    font-size: 4vmax;
}

.win-container-scoretable,
.credits-container-logo,
.container-game-logo {
    grid-area: 1 / 1 / 9 / 1;
}

.credits-container-statement,
.container-player-attention {
    grid-area: 7 / 1 / 7 / 1;
    align-self: self-end;
    margin-bottom: 4%;
    min-height: 3em;
}

.container-player-attention>p {
    font-size: 1.5vmax;
    animation: myScaleAnim 2s ease 0s 1 normal forwards;
    line-height: 1;
    color: #713E5A;
    margin: 0;
}

.container-try-again,
.container-play-now {
    grid-area: 8 / 1 / 8 / 1;
    align-self: self-end;
}

.container-try-again>button,
.container-play-now>button {
    background-color: #713E5A;
    color: #FDE9E9;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5vmax;
    border-radius: 100px;
    border: none;
    font-family: ohno-blazeface, sans-serif;
    font-weight: 100;
    font-style: normal;
    text-transform: uppercase;
}

.play-now-button-animation {
    animation: myScaleAnim 2s ease 0s 1 normal forwards;
}

.container-play-now>div {
    font-size: 1.5vmax;
    line-height: 1.75;
    color: #713E5A;
}

.game-state {
    grid-area: 1 / 1 / 1 / 1;
    align-self: center;
    display: block;
    text-align: center;
}

.game-state-img {
    max-width: 80%;
}

.game-start-counter {
    grid-area: 1 / 1 / 1 / 1;
    align-self: center;
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-family: ohno-blazeface, sans-serif;
    font-weight: 100;
    font-style: normal;
    text-transform: uppercase;
    font-size: 5.5vmax;
    color: #FDE9E9;
    letter-spacing: -2vmax;
}

.win-container-gamestate,
.credits-container-back{
    grid-area: 2/1/2/1;
    align-self: self-end;
    justify-self: center;
}

.credits-container-back a{
    width: 4vw;
}

.credits-container-contact{
    grid-area: 1/1/1/1;
    max-height: 33vh;
    max-width: 33vw;
}

.credits-container-statement{
    align-self: center;
}

.credits-container-contact>img{
    grid-area: 1/1/1/1;
    justify-self: center;
    align-items: end;
    justify-items: center;
}

.contact-me{
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
}

#contact-me-svg{
   width: 9vw;
   z-index: 4;
}

#contact-me-txt {
    width: 15vw;
    -webkit-animation: rotate-center 12s linear infinite both;
    animation: rotate-center 12s linear infinite both;
    z-index: 4;
}

.credits-container-statement{
    grid-area: 7 / 1 / 10 / 1; 
    align-self: center;
}

.scoretable,
.credits-container-statement p {
    border: 5px solid #713E5A;
    padding: 10px 5px 10px 5px;
    text-align: center;
    font-size: 1.5vmax;
    line-height: 1;
    color: #713E5A;
}

.scoretable{
    text-align: left;
}

.win-container-gamestate{
    font-size: 3vmax;
}

.win-container-match-result{
    grid-area: 1/1/1/4;
    align-self: center;
    justify-self: center;
    width: 100%;
    height: 100%;
    /* background-color: aqua; */
    z-index: 4;
}

.win-container-match-result>img{
    height: 100vh;
    transform: translate(-10vw, -5vh);
}



/* *************
   * Animation *
   ************* */

@keyframes myShakeAnim {

    0%,
    100% {
        transform: translateX(0%);
        transform-origin: 50% 50%;
    }

    15% {
        transform: translateX(-30px) rotate(-6deg);
    }

    30% {
        transform: translateX(15px) rotate(6deg);
    }

    45% {
        transform: translateX(-15px) rotate(-3.6deg);
    }

    60% {
        transform: translateX(9px) rotate(2.4deg);
    }

    75% {
        transform: translateX(-6px) rotate(-1.2deg);
    }
}

@keyframes myScaleAnim {
    0% {
        animation-timing-function: ease-out;
        transform: scale(1);
        transform-origin: center center;
    }

    10% {
        animation-timing-function: ease-in;
        transform: scale(0.91);
    }

    17% {
        animation-timing-function: ease-out;
        transform: scale(0.98);
    }

    33% {
        animation-timing-function: ease-in;
        transform: scale(0.87);
    }

    45% {
        animation-timing-function: ease-out;
        transform: scale(1);
    }
}



@keyframes slideLeftAnim {
    0% {
        opacity: 0;
        transform: translateX(-250px);
    }

    100% {
        opacity: 1;
        transform: translateX(-18%);
    }
}

@keyframes slideRightAnim {
    0% {
        opacity: 0;
        transform: translateX(250px);
    }

    100% {
        opacity: 1;
        transform: translateX(18%);
    }
}

@-webkit-keyframes myVibrateAnimation {
    0% {
        -webkit-transform: translate(-18%, 0);
        transform: translate(-18%, 0);
    }

    20% {
        -webkit-transform: translate(-19.5%, -1.5%);
        transform: translate(-19.5%, -1.5%);
    }

    40% {
        -webkit-transform: translate(-19.5%, 1.5%);
        transform: translate(-19.5%, 1.5%);
    }

    60% {
        -webkit-transform: translate(-16.5%, 1.5%);
        transform: translate(-16.5%, 1.5%);
    }

    80% {
        -webkit-transform: translate(-16.5%, -1.5%);
        transform: translate(-16.5%, -1.5%);
    }

    100% {
        -webkit-transform: translate(-18%, 0);
        transform: translate(-18%, 0);
    }
}

@keyframes vibrate-2 {
    0% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }

    20% {
        -webkit-transform: translate(2px, -2px);
        transform: translate(2px, -2px);
    }

    40% {
        -webkit-transform: translate(2px, 2px);
        transform: translate(2px, 2px);
    }

    60% {
        -webkit-transform: translate(-2px, 2px);
        transform: translate(-2px, 2px);
    }

    80% {
        -webkit-transform: translate(-2px, -2px);
        transform: translate(-2px, -2px);
    }

    100% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
}


@-webkit-keyframes rotate-center {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotate-center {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
